.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 700px;
    height: auto;
}
.info{
    font-size: 20px;
}
ul li{
    font-size: 20px;
    margin-bottom: 10px;
}
ul{
    list-style: none;
}
ul.details li::before {
    content: "\2023";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }